/* Custom theme */

:root {
  --highlight-colour: #23c5b0;
  --background-colour: #000000;
  --foreground-colour: #ffffff;
  --secondary-colour: #717171;
  --tertiary-colour: #222222;
}

@media (prefers-color-scheme: light) {
  :root {
    --highlight-colour: #0b6053;
    --background-colour: #ffffff;
    --foreground-colour: #000000;
    --secondary-colour: #575757;
    --tertiary-colour: #444444;
  }
}

body {
  background-color: var(--background-colour) !important;
  color: var(--foreground-colour) !important;
}

.ui.segment {
  background-color: var(--tertiary-colour) !important;
  color: var(--foreground-colour) !important;
  border: 0 none !important;
  box-shadow: none !important;
}

.ui.form .inline.field label {
  color: var(--foreground-colour) !important;
}

.repository .header-wrapper,
.following.bar,
.ui.attached.header,
.ui.card,
.ui.card .content,
.ui.vertical.menu,
footer {
  background-color: var(--tertiary-colour) !important;
  color: var(--foreground-colour) !important;
  border: 0 none !important;
  box-shadow: none !important;
}

.ui.vertical.menu .header.item {
  background-color: transparent;
}

.ui .text.black {
  color: var(--foreground-colour) !important;
}

.ui.basic.button,
.ui.basic.button:hover,
.ui.basic.buttons .button,
.ui.basic.buttons .button:hover {
  background-color: transparent !important;
  color: var(--foreground-colour) !important;
  box-shadow: 0 0 0 1px var(--foreground-colour) inset !important;
}

.ui.basic.green.active.button,
.ui.basic.green.active.button:hover,
.ui.basic.green.buttons .active.button,
.ui.basic.green.buttons .active.button:hover,
.ui.basic.blue.button,
.ui.basic.blue.button:hover,
.ui.basic.blue.buttons .button:hover,
.ui.basic.red.active.button,
.ui.basic.red.active.button:hover,
.ui.basic.red.buttons .active.button,
.ui.basic.red.buttons .active.button:hover,
.ui.form .ui.button,
.ui.form .ui.button:hover {
  background-color: transparent !important;
  color: var(--highlight-colour) !important;
  box-shadow: 0 0 0 1px var(--highlight-colour) inset !important;
}

.user.profile .ui.card .extra.content ul li {
  border: 0 none !important;
}

.ui.menu,
.ui.menu .item,
.ui.header i,
.ui.breadcrumb .divider,
.ui.card .content .header,
.ui.cards .card .content .header {
  background-color: var(--tertiary-colour) !important;
  color: var(--foreground-colour) !important;
}

.ui.tabular.menu .active.item {
  background-color: var(--background-colour);
  border: 0 none;
}

a,
a:hover,
.ui.menu .active.item,
.ui.menu .active.item:hover {
  color: var(--highlight-colour) !important;
}

.ui.form input {
  background-color: var(--tertiary-colour) !important;
  color: var(--foreground-colour) !important;
  border-color: var(--secondary-colour) !important;
}
