{% macro info(githubUsername, buildId) %}
<div id="github-info" class="print-hidden">
  <ul>
    <li class="github-user">
      <span class="icon fa-fw fa-brands fa-github"></span>
      <a href="https://github.com/{{ githubUsername }}" class="value" title="View my profile on GitHub">{{ githubUsername }}</a>
    </li>
    <li class="github-status page-hidden">
      <span class="icon fa-fw fa-solid fa-comment"></span>
      <span class="value"></span>
    </li>
    <li class="github-repos page-hidden">
      <span class="icon fa-fw fa-solid fa-code"></span>
      <span class="value"></span>
    </li>
    <li class="github-followers page-hidden">
      <span class="icon fa-fw fa-solid fa-people-group"></span>
      <span class="value"></span>
    </li>
    <li class="github-following page-hidden">
      <span class="icon fa-fw fa-solid fa-people-group"></span>
      <span class="value"></span>
    </li>
  </ul>
</div>
<script src="/scripts/github.js?v={{ buildId }}" defer></script>
{% endmacro %}
