{% macro links() %}
<ul class="social-links">
  <li>
    <a href="mailto:brendan@bcm.works" target="_blank" title="Send me an email at brendan@bcm.works">
      <span class="icon fa-fw fa-solid fa-envelope"></span>
      <span class="label">Email</span>
    </a>
  </li>
  <li>
    <a href="/resume.pdf?v={{ SITE_BUILD_ID }}" download="Resume - Brendan Murty.pdf" title="Download my resume">
      <span class="icon fa-fw fa-solid fa-address-card"></span>
      <span class="label">Resume</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/bcm-works" title="View my LinkedIn profile">
      <span class="icon fa-fw fa-brands fa-linkedin"></span>
      <span class="label">LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="https://mastodon.social/@murty" title="Find me on Mastodon" rel="me">
      <span class="icon fa-fw fa-brands fa-mastodon"></span>
      <span class="label">Mastodon</span>
    </a>
  </li>
  <li>
    <a href="https://steamcommunity.com/id/bcmurty/" title="View my Steam profile">
      <span class="icon fa-fw fa-brands fa-steam"></span>
      <span class="label">Steam</span>
    </a>
  </li>
  <li>
    <a href="https://discordapp.com/users/362579289700302858" title="View my Discord profile">
      <span class="icon fa-fw fa-brands fa-discord"></span>
      <span class="label">Discord</span>
    </a>
  </li>
</ul>
{% endmacro %}
