<div id="github-info" class="page-hidden print-hidden">
  <ul>
    <li class="github-profile">
      <span class="icon fa-fw fa-brands fa-github"></span>
      <a href="" class="value" title="View my profile on GitHub"></a>
    </li>
    <li class="github-status page-hidden">
      <span class="icon fa-fw fa-solid fa-comment"></span>
      <span class="value"></span>
    </li>
    <li class="github-repos">
      <span class="icon fa-fw fa-solid fa-code"></span>
      <span class="value"></span>
    </li>
    <li class="github-followers">
      <span class="icon fa-fw fa-solid fa-people-group"></span>
      <span class="value"></span>
    </li>
    <li class="github-following">
      <span class="icon fa-fw fa-solid fa-people-group"></span>
      <span class="value"></span>
    </li>
  </ul>
</div>

<script>
const githubUsername = "bcm-works";
const githubInfo = document.getElementById("github-info");

fetch("/api/github-profile/")
  .then(response => {
    if (!response.ok) {
      return "{}";
    }

    return response.json();
  })
  .then(data => {
    if (data != "{}") {
      if (data.status) {
        githubInfo.querySelector(".github-status .value").innerText = data.status;
        githubInfo.querySelector(".github-status").classList.remove("page-hidden");
      }

      githubInfo.querySelector(".github-repos .value").innerText = `${data.repos} repositories`;
      githubInfo.querySelector(".github-followers .value").innerText = `${data.followers} followers`;
      githubInfo.querySelector(".github-following .value").innerText = `${data.following} following`;
      githubInfo.querySelector(".github-profile a").setAttribute("href", data.url);
      githubInfo.querySelector(".github-profile .value").innerText = `Github > ${data.username}`;

      githubInfo.classList.remove("page-hidden");
    }
  });
</script>
