---
layout: layouts/page.layout.njk
body_class: page-home
---

<h2 data-pagefind-meta="title">Brendan Murty</h2>

<p>
  I specialise in building and actively leading efficient software teams to architect scalable,
  well-defined technical solutions for organisations.
</p>

<h2>Posts</h2>

<ul class="listing full posts">
  {% include "posts/post-list.njk" %}
</ul>
