---
layout: layouts/page.layout.njk
body_class: page-home
---

<p>
  I specialise in building and actively leading efficient software teams to architect scalable,
  well-defined technical solutions for organisations.
</p>

{% include "social.njk" %}

<h2>Posts</h2>

<ul class="listing full posts">
  {% include "posts/post-list.njk" %}
</ul>
