<div class="social-links-wrapper">
  <ul class="social-links">
    <li>
      <a href="mailto:brendan@bcm.works" target="_blank" class="nav-link" title="Send me an email at brendan@bcm.works">
        <span class="nav-icon fa-fw fa-solid fa-envelope"></span>
        <span class="nav-text">Email</span>
      </a>
    </li>
    <li>
      <a href="/resume.pdf" download="Resume - Brendan Murty.pdf" title="Download my resume" class="nav-link">
        <span class="nav-icon fa-fw fa-solid fa-address-card"></span>
        <span class="nav-text">Resume</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/bcm-works" class="nav-link" title="View my public code on GitHub">
        <span class="nav-icon fa-fw fa-brands fa-github"></span>
        <span class="nav-text">GitHub</span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/bcm-works" class="nav-link" title="View my LinkedIn profile">
        <span class="nav-icon fa-fw fa-brands fa-linkedin"></span>
        <span class="nav-text">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://mastodon.social/@murty" class="nav-link" title="Find me on Mastodon" rel="me">
        <span class="nav-icon fa-fw fa-brands fa-mastodon"></span>
        <span class="nav-text">Mastodon</span>
      </a>
    </li>
    <li>
      <a href="https://letterboxd.com/brendanmurty" class="nav-link" title="View my Letterboxd profile">
        <span class="nav-icon fa-fw fa-solid fa-film"></span>
        <span class="nav-text">Letterboxd</span>
      </a>
    </li>
    <li>
      <a href="https://steamcommunity.com/id/bcmurty/" class="nav-link" title="View my Steam profile">
        <span class="nav-icon fa-fw fa-brands fa-steam"></span>
        <span class="nav-text">Steam</span>
      </a>
    </li>
    <li>
      <a href="https://discordapp.com/users/362579289700302858" class="nav-link" title="View my Discord profile">
        <span class="nav-icon fa-fw fa-brands fa-discord"></span>
        <span class="nav-text">Discord</span>
      </a>
    </li>
  </ul>
</div>
