/* Custom theme */

:root {
  --highlight-colour: #23c5b0;
  --background-colour: #000000;
  --foreground-colour: #ffffff;
  --secondary-colour: #717171;
  --tertiary-colour: #222222;
}

@media (prefers-color-scheme: light) {
  :root {
    --highlight-colour: #0b6053;
    --background-colour: #ffffff;
    --foreground-colour: #000000;
    --secondary-colour: #575757;
    --tertiary-colour: #444444;
  }
}

body {
  background-color: var(--background-colour) !important;
  color: var(--foreground-colour) !important;
}

.dashboard,
.explore,
.user.profile {
  padding-top: 40px;
}

.repository .header-wrapper,
.following.bar,
.ui.attached.header,
footer {
  background-color: var(--tertiary-colour) !important;
  color: var(--foreground-colour) !important;
  border: 0 none !important;
}

.ui.menu .item,
.ui.header i,
.ui.breadcrumb .divider {
  color: var(--foreground-colour);
}

.ui.tabular.menu .active.item {
  background-color: var(--background-colour);
  border: 0 none;
}

a {
  color: var(--highlight-colour) !important;
}
