/* PAGE TRANSITION ANIMATIONS */

@view-transition {
  navigation: auto;
  types: slide;
}

@media (prefers-reduced-motion) {
  @view-transition {
    navigation: none;
  }
}

/* SCROLLBARS */

body {
  scrollbar-color: var(--colour-secondary) var(--colour-background);
  scrollbar-width: thin;
}

/* LAYOUT */

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-weight: 400;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-body);
  padding: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-width: 400px;
  background-color: var(--colour-background);
  color: var(--colour-foreground);
}

article {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* RESPONSIVE OVERRIDES */

@media only screen and (max-width: 850px) {
  .layout-wrapper .header {
    display: block;
  }

  .layout-wrapper .header .header-nav {
    margin-left: 0;
    padding: 16px 0 0;
  }

  .layout-wrapper .main-content {
    padding: 32px 16px 0;
  }

  .layout-wrapper .main-content h2 {
    font-size: 22px;
  }
}
