# Karakeep bookmarks config
#   - Copy this file to '.env'
#   - Then follow the relevant steps from https://docs.karakeep.app/installation/docker/
KARAKEEP_VERSION=release
NEXTAUTH_SECRET=super_random_string
MEILI_MASTER_KEY=another_random_string
NEXTAUTH_URL=http://localhost:3333
OPENAI_API_KEY=
VOLUME_LINKS=
VOLUME_SEARCH=
