---
layout: layouts/page.njk
body_class: page-home
---

{% import "components/info.njk" as info %}
{% import "components/link.njk" as link %}
{% import "components/github.njk" as github %}
<div class="intro">
  <p>
    I specialise in building and actively leading efficient software teams to architect scalable,
    well-defined technical solutions for organisations.
  </p>
</div>

<div class="social-links-container">
  <ul class="social-links">
    <li>
      <a href="mailto:brendan@bcm.works" target="_blank" title="Send me an email at brendan@bcm.works">
        <span class="icon fa-fw fa-solid fa-envelope"></span>
        <span class="label">Email</span>
      </a>
    </li>
    <li>
      <a href="/resume.pdf" download="Resume - Brendan Murty.pdf" title="Download my resume">
        <span class="icon fa-fw fa-solid fa-address-card"></span>
        <span class="label">Resume</span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/bcm-works" title="View my LinkedIn profile">
        <span class="icon fa-fw fa-brands fa-linkedin"></span>
        <span class="label">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://mastodon.social/@murty" title="Find me on Mastodon" rel="me">
        <span class="icon fa-fw fa-brands fa-mastodon"></span>
        <span class="label">Mastodon</span>
      </a>
    </li>
    <li>
      <a href="https://steamcommunity.com/id/bcmurty/" title="View my Steam profile">
        <span class="icon fa-fw fa-brands fa-steam"></span>
        <span class="label">Steam</span>
      </a>
    </li>
    <li>
      <a href="https://discordapp.com/users/362579289700302858" title="View my Discord profile">
        <span class="icon fa-fw fa-brands fa-discord"></span>
        <span class="label">Discord</span>
      </a>
    </li>
  </ul>
</div>

<h2>GitHub</h2>

{{ github.info('bcm-works', SITE_BUILD_ID) }}

<h2>Recent Posts</h2>

<ul class="posts-list posts-list-recent">
  {% set posts = search.pages("type=post", "date=desc") %}
  {% for post in posts.slice(0, 6) %}
  {% if post.url != '/posts/' %}
  <li>
    <div class="post-name">
      {{ link.post(post.title, post.url) }}
    </div>
    <div class="post-details">
      {{ info.post(post.date, post.readingInfo.minutes, post.readingInfo.words) }}
    </div>
  </li>
  {% endif %}
  {% endfor %}
  <li><a href="/posts/">View all posts</a></li>
</ul>
