---
title: Posts
layout: layouts/page.njk
body_class: page-posts-list
---

{% import "components/post-card.njk" as card %}
<ul class="posts-list posts-list-cards">
  {% set posts = search.pages("type=post", "date=desc") %}
  {% for post in posts %}
  {% if post.url != '/posts/' %}
  {{ card.card(post) }}
  {% endif %}
  {% endfor %}
</ul>
