---
title: Post
layout: page.layout.njk
body_class: page-post
---

{% import "components/info.njk" as info %}
{% import "components/link.njk" as link %}
<h2>{{ link.post(title, url) }}</h2>

{{ info.post(date, readingInfo.minutes, readingInfo.words) }}

<ul class="tag-list print-hidden">
  {% for tag in tags|sort %}
    {% if tag != "Post" %}
      <li>
        {{ link.tag(tag) }}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<div class="post-content">
  {{ content | safe }}
</div>
