---
title: Post
layout: page.layout.njk
body_class: page-post
---

<h2>{{ title }}</h2>

{% import "components/info.njk" as info %}
{{ info.post(date, readingInfo.minutes, readingInfo.words) }}

<ul class="tag-list print-hidden">
  {% for tag in tags|sort %}
    {% if tag != "Post" %}
      <li>
        <a href="/tags/{{ tag }}/" title="View posts tagged with {{ tag }}">
          {{ tag }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<div class="post-content">
  {{ content | safe }}
</div>
