---
title: Posts
layout: page.layout.njk
body_class: page-posts-list
---

<ul class="posts-list">
  {% set posts = search.pages("type=post", "date=desc") %}
  {% for post in posts %}
    {% if post.url != '/posts/' %}
    <li>
      <div class="post-name">
        <a href="{{ post.url }}">
        {% if post.title %}
          {{ post.title }}
        {% else %}
          {{ post.url }}
        {% endif %}
        </a>
      </div>
      <div class="post-details">
        <ul class="post-info print-gray">
          <li class="post-date">
            <span class="icon fa-fw fa-solid fa-calendar-days"></span>
            <span class="value">{{ post.date | date('d LLL yyyy') }}</span>
          </li>
          <li class="post-time">
            <span class="icon fa-fw fa-solid fa-hourglass"></span>
            <span class="value">{{ post.readingInfo.minutes }} minute{% if post.readingInfo.minutes > 1 %}s{% endif %}</span>
          </li>
          <li class="post-words">
            <span class="icon fa-fw fa-solid fa-file-lines"></span>
            <span class="value">{{ post.readingInfo.words }} words</span>
          </li>
        </ul>
      </div>
    </li>
    {% endif %}
  {% endfor %}
</ul>
