#
# App
#
NEXTAUTH_SECRET=super_random_string
MEILI_MASTER_KEY=another_random_string
NEXTAUTH_URL=http://localhost:3333
#
# AI
#
OPENAI_API_KEY=
INFERENCE_TEXT_MODEL=gpt-4.1-mini
INFERENCE_IMAGE_MODEL=gpt-4o-mini
#
# Karakeep - https://docs.karakeep.app/configuration/environment-variables
#
KARAKEEP_PORT=3333
KARAKEEP_DISABLE_SIGNUPS=false