/* THEME */

:root {
  /* LAYOUT */
  --content-max-width: 900px;

  /* COLOUR SCHEME */
  --colour-black: #000000;
  --colour-gray: #888888;
  --colour-white: #FFFFFF;
  --colour-highlight: #23C5B0;
  --colour-background: var(--colour-black);
  --colour-foreground: var(--colour-white);
  --colour-secondary: #0A675B;
  --colour-tertiary: #115F55;

  /* LINKS */
  --link-decoration-default: underline wavy var(--colour-tertiary) 2px;
  --link-decoration-nav: underline wavy var(--colour-secondary) 2px;
  --link-decoration-active: underline wavy var(--colour-highlight) 2px;
  --link-decoration-underline-offset: 6px;

  /* CODE BLOCKS */
  --colour-code-method: var(--colour-highlight);
  --colour-code-keyword: var(--colour-highlight);
  --colour-code-comment: var(--colour-secondary);
  --colour-code-background: var(--colour-tertiary);

  /* FONTS */
  --font-family-header: "MDIO-Black", var(--font-family-code);
  --font-family-body: var(--font-family-code);
  --font-family-code: "MDIO-Regular", monospace;
  --font-family-quote: var(--font-family-code);
  --font-size-body: 20px;
  --font-size-meta: 16px;
  --line-height-body: 32px;
}

/* CUSTOM FONTS */

@font-face {
  font-family: "MDIO-Black";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("MDIO-Black"),
    url("/css/fonts/MDIO-Black.woff") format("woff");
}

@font-face {
  font-family: "MDIO-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("MDIO"),
    local("MDIO-Regular"),
    url("/css/fonts/MDIO-Regular.woff") format("woff");
}
